<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
                      xmlns:th="http://www.thymeleaf.org">
<head>
        <title>Main menu</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        </head>
        <body>
        <div>

        <div sec:authorize="isAnonymous()">
            <h4><a href="/login">Log in</a></h4>
            <h4><a href="/registration">Registration</a></h4>
        </div>
        <div sec:authorize="isAuthenticated()">
            <h4><a href="/logout">Log out</a></h4>
        </div>
        <h4><a href="/directories/certificateTitleType">Certificate title type (only for admin)</a></h4>

        </div>
        </body>
</html>